<h1 class="title">Organization Make Requests Page</h1>

<!-- List of Items -->
<div class="col-md-6">
  <div>
    <% @items.each do |item| %>
      <div>
        <%= render 'available_item', :item => item %>
      </div>
    <% end %>


  </div>
</div>


<!-- Current Requests -->
<div class="col-md-6">
  <div>
    <% @campaign.requests.each do |request| %>
      <%= render 'requested_item', :request => request %>
    <% end %><br>
    TOTAL:<%= @total_request_price %>
  </div>
</div>

