<h3><%= campaign.name %></h3>
<p class="campaign-desc"><%= campaign.description %></p>

<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%= campaign.percentage_goal_complete %>%">
  </div>
</div>

<%= link_to "PLEDGE", organization_campaign_path(campaign.organization, campaign), class: "campaign_btn" %>
