<div class="app-container">
  <h1 class="title">Look at all of our wonderful campaigns!</h1>

	<% @campaigns.each do |campaign| %>
    <div class="campaign">
  	  <%= render 'one_campaign', :campaign => campaign %>
    </div>
	<% end %>

  <div id='map'></div>
    <script>
    var map = L.mapbox.map('map', 'examples.map-i86nkdio')
        .setView([40, -74.50], 9);
    </script>
  </div>

</div>
