.title {
	 font-family: 'Quicksand', sans-serif;
}

.show_all_campaigns {
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

.campaign {
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	margin: 40px 40px;
	height: 300px;
	width:350px;
}

.pledge-btn{
	position: absolute;
	bottom: 5px;
	margin-left: 33%;
}

.campaign-desc {
	position: absolute;
	top: 100px;
}

