.show_all_campaigns {
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

.campaign {
	border: 1px solid black;
	border-radius: 5px;
	margin: 40px 40px;
	height: 250px;
	width:350px;
}

.progress {
	position: absolute;
	bottom: 40px;
	left: 30px;
	right: 30px;
}

.campaign_btn {
	background: #5bc0de;
	border-radius: 10px;
	color: #ffffff;
	position: absolute;
	bottom: 20px;
	left: 80px;
	right: 80px;
}

.campaign_btn:hover {
	text-decoration: none;
}

.campaign-desc {
position: absolute;
top: 90px;
left: 10px;
right: 10px;
}

#home {
	top: 3%;
	right: 5%;
	position: absolute;
}

#home img {
	position: static;
	height: 40px;
	width: 40px;
}

