@import "bootstrap";
@import "donor_form";
@import "nav_bar";
@import "all_campaigns";
@import "organization_form";
@import "dashboard";
@import "homepage";
@import "all_organizations";
body {
	background-image: url('./whitey.png');
}

#home {
	top: 2%;
	right: 15%;
	position: absolute;
}

#home img {
	position: static;
	height: 40px;
	width: 40px;
}

#info {
	top: 2.5%;
	right: 20%;
	position: absolute;
}

#info img {
	position: static;
	height: 40px;
	width: 40px;
}

#pencil {
	top: 1.5%;
	right: 10%;
	position: absolute;
}

#pencil img {
	position: static;
	height: 50px;
	width: 50px;
}

#add_campaign {
	top: -1.5%;
	right: 23%;
	position: absolute;
}

#add_campaign img {
	height: 85px;
	width: 85px;
}

#info a {
  display: block;
  width: 100%;
  height: 100%;
}