@import "bootstrap";
@import "donor_form";
@import "nav_bar";
@import "all_campaigns";
@import "organization_form";
@import "dashboard";
@import "homepage";
@import "all_organizations";
@import "organization_show";
@import "make_requests";

body {
	background-image: url('./whitey.png');
}

.app-container {
  width: 80%;
  margin: 0 auto;
}

#home {
  top: 2%;
  right: 15%;
  position: absolute;
}

#home img {
  position: static;
  height: 40px;
  width: 40px;
}

