$lightblue: green;

div


#dashboard-container{
  padding-top: 20px;
  opacity: 0.8;
}

.dashboard-title{
  font-family: 'Quicksand', sans-serif;
  opacity: 0.8;
}

.campaign-holder{
  width: 320px;
  height: 400px;
  padding: 10px;
  // border: 1px solid #cccccc;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #cccccc;
  // -moz-box-shadow:    1px 1px 2px 2px #666666;
  // -webkit-box-shadow: 1px 1px 2px 2px #666666;
  // box-shadow:         1px 1px 2px 2px #666666;
  opacity: 0.8;
}

.edit-org{
  opacity: 0.8;
  color: white;
  text-decoration: none;
  position: absolute;
  border-bottom-left-radius: 10px;
  top: 0px;
  right: 0px;
  height: 50px;
  width: auto;
  padding: 10px;
  background-color: $lightblue;
  float: right;
}