// Page Styling

.app-container {
  width: 80%;
  margin: 0 auto;
}

.title {
  font-family: 'Quicksand', sans-serif;
  margin: 40px 0 40px 0;
}

.available-items, .requested-items {
  margin: 0 auto;
}

.available-items h3, .requested-items h3 {
  font-family: 'Quicksand', sans-serif;
  margin: 40px;
}

.available-item-list, .requested-item-list {
  margin: 0 auto;
  overflow: auto;
  height: 650px;
  width: 500px;
}

#total {
  border: 2px solid green;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 18%;
  font-size: 18px;
  width: 200px;
}

#complete {
  border: 2px solid red;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 80px;
  right: 18%;
  font-size: 18px;
  width: 200px;
}


#available-items, #requested-items {
  font-family: 'Quicksand', sans-serif;
}

// Individual Item Styling
.item {
  display: inline-block;
}

.item-available-image {
  margin: 20px;
  height: 140px;
  width: 150px;
}

.item-request-image {
  margin: 20px;
  height: 70px;
  width: 75px;
}


