.app-container {
  width: 80%;
  margin: 0 auto;
}

.title {
  font-family: 'Quicksand', sans-serif;
  margin: 40px 0 40px 0;
}

.available-items, .requested-items {
  margin: 0 auto;
}

.available-items h3, .requested-items h3 {
  font-family: 'Quicksand', sans-serif;
  margin: 40px;
}

.available-item-list, .requested-item-list {
  margin: 0 auto;
  overflow: auto;
  height: 650px;
  width: 500px;
}

.item {
  border-bottom: 1px solid black;
}

#available-items, #requested-items {
  font-family: 'Quicksand', sans-serif;
}
