<div class="jumbotron">
	<div id="logo"
	  <h1>Smart<b><span id="S">S</span><span id="O">O</span><span id="S_2">S</span></b></h1>
	</div>
	<div id="button">
	    <%= link_to "Make A Pledge", campaigns_path, class: 'btn btn-primary btn-lg' %>  
	</div>
	<div id="quote">
	  <h2><em>"The purpose of human life is to serve, and to show compassion and the will to help others."</em></h2></div>
	</div>
</div>

