<div class="jumbotron">
	<div id="logo"
	  <h1>Smart<b>SOS</b></h1>
	</div>
	    <%= link_to "Make A Pledge", campaigns_path, class: 'btn btn-primary btn-lg' %>  
	<div id="quote">
	  <h2><em>"The purpose of human life is to serve, and to show compassion and the will to help others."</em></h2></div>
	</div>
</div>

