<div class="jumbotron">
	<div id="logo"
	  <h1>SmartSOS</h1>
	</div>
	  <p><a class="btn btn-primary btn-lg" role="button">Make A Pledge</a></p>
	<div id="quote">
	  <h2><em>"The purpose of human life is to serve, and to show compassion and the will to help others."</em></h2></div>
	</div>
</div>

