<div class="jumbotron">
	<div id="logo"
	  <h1>SmartSOS</h1>
	</div>
	  <h2><em>The purpose of human life is to serve, and to show compassion and the will to help others.</em></h2>
	  <p><a class="btn btn-primary btn-lg" role="button">Make A Pledge</a></p>
</div>

